.footer {
    background-color: #30353c;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff !important;
    font-size: 14px;
}

.footer .fondo {
    background-color: #BD945E;
    height: 6px;
    margin-bottom: 5px;

}